<ion-view view-title="Datos del video club">
  <ion-content>

<label class="item item-input">
            <span class="input-label">Nombre del video club</span>
             <span class="input-label">Android cine</span>
        </label>
        <label class="item item-input">
            <span class="input-label">Direccion</span>
            <span class="input-label">Cerretera Lauro VIllar km 6.5</span>
        </label>
        <label class="item item-input">
            <span class="input-label">Telefono</span>
            <span class="input-label">8-12-39-80</span>
        </label>

  </ion-content>
  
</ion-view>
